@media screen and (min-width: 600px) {
    .col-4 {
        min-height: 20vh;
        min-width: 20vw;
        text-align: center;
        padding-top: 36px;
        font-size: 3em;
    }
    .correction {
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    .col-4 {
        min-height: 10vh;
        min-width: 10vw;
        text-align: center;
        padding-top: 6px;
        font-size: 2em;
    }
    .correction {
        font-size: 1em;
    }
}

.game {
    max-width: 60vw;
    max-height: 60vh;
}

.border {
    border: 3px solid black!important
}

.correction {
    min-width: auto;
    min-height: auto;
    padding: 0px;
}

.size {
    font-size: 30px;
}